@{
    ViewBag.Title = "Informații";
}
<p>
    <br>
    <br>
</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Proiect Master Ingineria și Managementul Sistemelor de Afaceri</p>
<p>Ingineria afacerilor în mediul electronic</p>
