@{
    ViewBag.Title = "Contact";
}
<p>
    <br>
    <br>
</p>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Pavel Cristina-Andreea<br />
    IMSA - IAME<br />
    <abbr title="Phone">P:</abbr>
    0748149493
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cristina.pavel1611@stud.acs.upb.ro ">cristina.pavel1611@stud.acs.upb.ro </a><br />
</address>