@{
    ViewBag.Title = "Home Page";
}

<p>
    <br>
    <br>
</p>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<div class="jumbotron">
    <h1>Bun venit!   <img src="~/Pictures/round2.png" alt="Sample Photo" width="90" style="float:right;" />  </h1>
    <p>Puteți accesa pagina „Crează programare” pentru a verifica intervelele disponibile și pentru a îl alege pe cel mai convenabil pentru dumeanvoastră</p>
    <hr class="my-4">
</div>
}
else
{
    <div class="jumbotron">
        <h1>Bun venit!   <img src="~/Pictures/round2.png" alt="Sample Photo" width="90" style="float:right;" />  </h1>
        <p class="lead">Aceasta este o aplicație de creare a programărilor online.</p>
        <hr class="my-4">
        <p>Pentru a începe, vă rugăm să vă autentificați sau să vă creați un cont de utilizator</p>
    </div>
}
